.giro {
	width: 95px;
	height: 95px;
	animation-duration: 4s;
	animation-delay: 2s;
	animation-fill-mode: backwards;
	animation-timing-function: linear;
	animation-name: movimiento;
}

@keyframes movimiento {
	0% {
		margin-left: 90%;
		transform: rotate(0deg);
	}	
	100% {
		margin-left:0%;
		transform: rotate(360deg);
	}
}
