.negrita{
    font-weight: bold;
}
.cursiva{
    font-style: italic;
}

/* EJERCICIO1 */

td[colspan = "2"],[rowspan="2"]{
    background-color: #234E54;
}

td[colspan = "4"],[rowspan="4"]{
    background-color: #CEA885;
}

td[rowspan="3"],[colspan="3"]{
    background-color: #ACA759;
}


/* EJERCICIO 2 */
li[id="pregunta1"],[id="pregunta2"],[id="pregunta3"],[id="pregunta4"],[id="pregunta5"],[id="pregunta6"]{
    color:purple;
    font-family: Verdana, Geneva, sans-serif;
}


/*EJERCICIO 3 */
li[id] span[class="negrita"]{
    background-color: #FF9;
}

/*EJERCICIO 4 */

.comentarios{
    font-style: italic;
    border: thin dotted #AC8159;
}

/*EJERCICIO 5 */

p+p{
text-decoration: underline;
}

/* EJERCICIO 6 */
li>a{
    background-color:teal;
}