.contenedor1{
    background-color:grey;
    width: 98%;
    height: 50px;
    padding: 1em;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}
.contenido1{
    background-color: peru;
    border: 1px solid black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.contenido1:nth-child(1){
    flex-grow: 1;
    order: 4;
}
.contenido1:nth-child(2){
    flex-grow: 1;
}
.contenido1:nth-child(3){
 flex-grow: 2;
}
.contenido1:nth-child(4){
    flex-grow: 3;
}





.contenedor2{
    background-color:lightskyblue ;
    display: flex;
    padding: 2em;
    flex-direction: row;
    width: 96%;
    height: 150px;

}

.contenido2{
    background-color: peru;
    flex-grow: 1;
    border: 1px solid black;
}

.contenido2:nth-child(2){
    flex-grow: 3.5;
}