/* Define el contenido central */


/*Div que lo contiene todo */
#center {
    background-color: white;
    flex-grow: 12;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-direction: column;

    padding-top: 5%;
    padding-left: 7%;
    padding-right: 7%;
    gap: 2em;
}

#center>div:nth-child(1) {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 1em;

}

#center>div:nth-child(1)>div:nth-child(1) {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;

}

#center>div:nth-child(1)>div:nth-child(2) {
    margin-top: 1.3em;
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    justify-content: flex-end;
    align-items: center;
    gap: 2em;
    flex-wrap: wrap;
}

.background {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgb(95, 2, 187);
    color: white;
    padding-right: 2.5em;
    padding-left: 2.5em;
    padding-top: 0.5em;
    padding-bottom: 00.5em;
    border-radius: 7px;
}

.background:hover {
    background-color: dodgerblue;
}



#center>div:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

/* Esto es para las cajas del centro */
.cube {
    display: flex;
    flex-direction: column;
    width: 22%;
    height: 200px;
    border: 0.2px solid rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    box-shadow: 2px 2px 25px 1px rgba(0, 0, 0, 0.1);
}


.cube img {
    display: flex;
    height: 139px;
    width: 100%;
}

.titulo {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    font-size: 17px;
}

.texto {
    display: flex;
    flex-grow: 5;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12px;
    padding: 0.5em;
}

#center>div:nth-child(2)>.cube:nth-child(-n + 4) {
    margin-bottom: 4%;
}



#center>div:nth-child(3) {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 5rem;
}


.cont {
    display: flex;
    background-color: dodgerblue;
    width: 1.2em;
    margin-right: 0.2em;
    padding: 0.2em;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 5px;
}


#center>div:nth-child(3)>.cont:nth-child(7) {
    margin: 0;
}

#center>div:nth-child(3)>.cont:nth-child(7),
#center>div:nth-child(3)>.cont:nth-child(1) {
    width: 2em;
}

.cont:hover {
    background-color: rgb(95, 2, 187);
}